<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>premier_project_jee</display-name>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>fr.akharroub.jee.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Bonjour</display-name>
    <servlet-name>Bonjour</servlet-name>
    <servlet-class>fr.akharroub.jee.Bonjour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bonjour</servlet-name>
    <url-pattern>/Bonjour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Accueil</display-name>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>fr.akharroub.jee.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rombercement</display-name>
    <servlet-name>Rombercement</servlet-name>
    <servlet-class>fr.akharroub.jee.Rombercement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rombercement</servlet-name>
    <url-pattern>/Rombercement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExoChiffre</display-name>
    <servlet-name>ExoChiffre</servlet-name>
    <servlet-class>fr.akharroub.jee.ExoChiffre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExoChiffre</servlet-name>
    <url-pattern>/ExoChiffre</url-pattern>
  </servlet-mapping>
</web-app>